/global_data
/221010_10-20系统3D特征测试/data
/221017_GNN学习/data
/221106_MTL_attention/data
/221130_找特征空间-缩小相同情感差距/data
/221202_speechTransformer很多人做了EEGTransformer/data
/221202_语音情感识别/data
/221202_预训练模型/data
